<div class="mastfoot">
  <div class="inner">
    <p>Feito por <a href="https://yt3.ggpht.com/-LMcZaYkqmec/AAAAAAAAAAI/AAAAAAAAAAA/XkeJRw29JRg/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" target="_blank">Pais de Família</a>.</p>
  </div>
</div>
