<section class="content-header">
  <h1> <%= t(params[:controller].split('/').last, scope: 'admin.controllers') %> </h1>
  <ol class="breadcrumb">
    <li><%= link_to '<i class="fa fa-dashboard"></i> Home'.html_safe, admin_root_path %></li>
    <li class="active"> <%= t(params[:controller].split('/').last, scope: 'admin.controllers') %> </li>
  </ol>
</section>
