<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 1.0.0
  </div>
  Feito por <a href="https://yt3.ggpht.com/-LMcZaYkqmec/AAAAAAAAAAI/AAAAAAAAAAA/XkeJRw29JRg/s900-c-k-no-mo-rj-c0xffffff/photo.jpg" target="_blank">Pais de Família</a>.
</footer>
